<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content class="settings mat-typography">
  <div class="settings-row">
    <mat-slide-toggle [formControl]="controls.fps">Show FPS</mat-slide-toggle>
  </div>
  <div class="settings-row">
    <div class="settings-label-wrapper">
      <label id="preload-label">Hours to Preload</label>
    </div>
    <mat-slider
      class="settings-slider"
      [min]="1"
      [max]="10"
      [step]="1"
      [thumbLabel]="true"
      [formControl]="controls.preload"
      aria-labelledby="preload-label"
    ></mat-slider>
  </div>
  <div class="settings-row">
    <div class="settings-label-wrapper">
      <label id="speed-label">Animation Speed (s/h)</label>
    </div>
    <mat-slider
      class="settings-slider"
      [min]="1"
      [max]="30"
      [step]="1"
      [thumbLabel]="true"
      [displayWith]="speedFormatLabel"
      [formControl]="controls.speed"
      aria-labelledby="speed-label"
    ></mat-slider>
  </div>
  <div class="settings-row">
    <div class="settings-label-wrapper">
      <label id="details-label">Details Level</label>
    </div>
    <mat-slider
      class="settings-slider"
      [min]="0"
      [max]="2"
      [step]="1"
      [thumbLabel]="true"
      [displayWith]="detailsFormatLabel"
      [formControl]="controls.details"
      aria-labelledby="details-label"
    ></mat-slider>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="save()">
    Save
  </button>
</mat-dialog-actions>
