.settings {
  &-row {
    margin: 20px 0;

    &:first-of-type {
      margin: 10px 0;
    }
  }

  &-label-wrapper {
    margin: 0 5px 15px 5px;
  }

  &-slider {
    width: 300px;
  }

  &-strategy-select {
    width: 100%;
  }
}
