<div
  class="covis-controls-bar"
  *ngIf="{
    isOpen: isOpen | async,
    visualization: visualization | async,
    time: currentTime | async,
    minTime: minTime | async,
    maxTime: maxTime | async
  } as context"
>
  <div class="covis-controls-bar-toggle">
    <button mat-icon-button (click)="toggleBar()">
      <mat-icon>{{ context.isOpen ? 'expand_more' : 'expand_less' }}</mat-icon>
    </button>
  </div>
  <div class="covis-controls-bar-body-wrapper" [@opened]="context.isOpen">
    <mat-slider
      class="covis-controls-bar-slider"
      [min]="context.minTime"
      [max]="context.maxTime"
      [step]="1"
      [formControl]="sliderControl"
      [thumbLabel]="true"
    ></mat-slider>
    <div class="covis-controls-bar-body">
      <div class="covis-controls-left"></div>
      <div class="covis-controls-center">
        <div class="covis-controls-buttons">
          <button mat-mini-fab color="primary" (click)="openSettings()">
            <mat-icon>settings</mat-icon>
          </button>
          <button mat-fab color="primary" (click)="toggleVisualization()">
            <mat-icon>{{
              context.visualization === VisualizationState.running
                ? 'pause'
                : context.visualization === VisualizationState.finished
                ? 'replay'
                : 'play_arrow'
            }}</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="stop()">
            <mat-icon>stop</mat-icon>
          </button>
          T: {{ context.time }}h
        </div>
      </div>
      <div class="covis-controls-right"></div>
    </div>
  </div>
</div>
