:host {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.covis-controls {
  &-bar {
    width: 100vw;

    &-toggle {
      padding: 5px;
      position: absolute;
      bottom: 5px;
    }

    &-body {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-column-gap: 10px;
      justify-items: center;
      align-items: center;
      padding: 5px 10px;
    }

    &-slider {
      width: 100%;
      padding: 0 10px;
      margin-bottom: -25px;

      ::ng-deep .mat-slider-wrapper {
        left: 12px;
        right: 12px;
      }

      ::ng-deep
        &.mat-slider-min-value:not(.mat-slider-thumb-label-showing)
        .mat-slider-thumb {
        border-color: transparent;
        background-color: #ff4081;
      }

      ::ng-deep
        &.mat-slider:not(.mat-slider-disabled).cdk-mouse-focused
        .mat-slider-thumb {
        transform: scale(0.7);
      }

      ::ng-deep &.mat-slider-disabled {
        .mat-slider-thumb,
        .mat-slider-track-fill {
          background-color: rgba(255, 64, 129, 0.8);
        }
      }
    }
  }

  &-left {
    justify-self: start;
  }
  &-center {
    justify-self: center;
  }
  &-right {
    justify-self: end;
  }

  &-buttons {
    button {
      margin: 10px 5px;
    }
  }
}
