/// Creates stroke value for filter/text-shadow section
///
/// @param {Number} $stroke The stroke width.
/// @param {String} $color The stroke color.
/// @param {Number} $blur The blur size.
/// @param {Boolean} $filter Uses filter compatible format if true.
@function stroke($stroke, $color, $blur, $filter) {
  $shadow: ();
  $from: $stroke * -1;
  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $value: $i * $blur $j * $blur 0 $color;
      @if ($filter) {
        $shadow: append($shadow, drop-shadow($value));
      } @else {
        $shadow: append($shadow, $value, comma);
      }
    }
  }
  @return $shadow;
}

/// Adds stroke to the text.
///
/// @param {Number} $stroke The stroke width.
/// @param {String} $color The stroke color.
/// @param {Number} $blur The blur size.
@mixin stroke($stroke, $color, $blur: 1px) {
  text-shadow: stroke($stroke, $color, $blur, false);
}

:host {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.covis-controls {
  &-time {
    font-size: 16px;
    margin-left: 5px;
    @include stroke(2, rgba(236, 236, 236, 0.3));
  }

  &-bar {
    width: 100vw;

    &-toggle {
      padding: 5px;
      position: absolute;
      bottom: 5px;
    }

    &-body {
      display: grid;
      grid-template-columns: minmax(0, 1fr) 166px minmax(0, 1fr);
      grid-column-gap: 10px;
      justify-items: center;
      align-items: center;
      padding: 5px 10px;
    }

    &-slider {
      width: 100%;
      padding: 0 10px;
      margin-bottom: -25px;

      ::ng-deep .mat-slider-wrapper {
        left: 12px;
        right: 12px;
      }

      ::ng-deep
        &.mat-slider-min-value:not(.mat-slider-thumb-label-showing)
        .mat-slider-thumb {
        border-color: transparent;
        background-color: #ff4081;
      }

      ::ng-deep
        &.mat-slider:not(.mat-slider-disabled).cdk-mouse-focused
        .mat-slider-thumb {
        transform: scale(0.7);
      }

      ::ng-deep &.mat-slider-disabled {
        .mat-slider-thumb,
        .mat-slider-track-fill {
          background-color: rgba(255, 64, 129, 0.8);
        }
      }
    }
  }

  &-left {
    justify-self: start;
  }

  &-center {
    justify-self: center;
  }

  &-right {
    justify-self: end;
  }

  &-buttons {
    button {
      margin: 10px 5px;
    }
  }
}
